# {{ansible_managed}}

[Unit]
Description=NSQ nsqadmin service
Requires=network-online.target
After=network-online.target

[Service]
LimitNOFILE=50000
#ExecStartPre=/usr/bin/test -x {{ nsq__install_directory }}/{{ nsq__release }}/bin/nsqadmin || { stop; exit 0; }
ExecStart={{ nsq__install_directory }}/{{ nsq__release }}/bin/nsqadmin {{ nsq__nsqadmin_opts }} {% if nsq__nsqlookupd_install and nsq__lookupd_http_addresses | length > 0 %}{% for item in nsq__lookupd_http_addresses %}-lookupd-http-address={{ item }}:{{ nsq__lookupd_http_port }} {% endfor %}{% endif %}

Restart=always
RestartSec=20
TimeoutSec=300
User={{ nsq__owner }}
Group={{ nsq__group }}
StandardOutput=journal
StandardError=journal
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
