# {{ansible_managed}}

[Unit]
Description=NSQ nsqd service
Requires=network-online.target
After=network-online.target

[Service]
LimitNOFILE=50000
Restart=on-abort
#ExecStartPre=/usr/bin/test -x {{ nsq__install_directory }}/{{ nsq__release }}/bin/nsqd || { stop; exit 0; }
ExecStart={{ nsq__install_directory }}/{{ nsq__release }}/bin/nsqd {{ nsq__nsqd_opts }} {% if nsq__nsqlookupd_install and nsq__lookupd_tcp_addresses | length > 0 %}{% for item in nsq__lookupd_tcp_addresses %}-lookupd-tcp-address={{ item }}:{{ nsq__lookupd_tcp_port }} {% endfor %}{% endif %}

Restart=always
RestartSec=20
TimeoutSec=300
User={{ nsq__owner }}
Group={{ nsq__group }}
StandardOutput=journal
StandardError=journal
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
