# {{ansible_managed}}

[Unit]
Description=NSQ nsqd service
Requires=network-online.target
After=network-online.target

[Service]
LimitNOFILE=50000
Restart=on-abort
#ExecStartPre=/usr/bin/test -x {{ nsq_install_directory }}/{{ nsq_release }}/bin/nsqd || { stop; exit 0; }
ExecStart={{ nsq_install_directory }}/{{ nsq_release }}/bin/nsqd {{ nsq_nsqd_opts }} {% if nsqlookupd_role and nsq_lookupd_tcp_addresses | length > 0 %}{% for item in nsq_lookupd_tcp_addresses %}-lookupd-tcp-address={{ item }}:{{ nsq_lookupd_tcp_port }} {% endfor %}{% endif %}

RestartSec=20
TimeoutSec=300
User={{ nsq_owner }}
Group={{ nsq_group }}
StandardOutput=journal
StandardError=journal
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
